@inherits LayoutComponentBase

<div class="page">
    <div class="top-row">
        <NavMenu/>
    </div>

    <main>
        <article class="m-5">
            @Body
        </article>
    </main>
</div>

<PageError />