<nav class="navbar navbar-expand-xxxl navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Jourlity</a>
        <div class="nav-profile" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <div class="row">
                <div class="nav-name">Kim Rydén</div>
                <div class="nav-image bi bi-person-circle"></div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="app/clients">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>